/* Estilos CSS para o retângulo com cantos arredondados */
/* .project-container {
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  /* Estilos CSS para cada projeto dentro do retângulo */
  /* .project-profile {
    width: calc(50% - 10px); /* 50% para que haja dois projetos por linha com espaço entre eles */
    /* margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }  */
  
  .top-right {
    position: absolute;
    top: 20%; /* Ajuste a posição superior conforme necessário */
    right: 30%; /* Ajuste a posição direita conforme necessário */
    padding: 20px;   /* Adiciona um espaço em torno do contêiner de projetos */
    /* Outros estilos de posicionamento, como alinhamento, podem ser adicionados aqui */
  }

  .mid-left {
    position: absolute;
    top: 70%; /* Ajuste a posição superior conforme necessário */
    /* right: 2%; Ajuste a posição direita conforme necessário */
    /* padding: 20px;   Adiciona um espaço em torno do contêiner de projetos */
    /* Outros estilos de posicionamento, como alinhamento, podem ser adicionados aqui */
  }

  .user-profile img.profile-image {
    border-radius: 50%;
    width: 150px; /* Ajuste o tamanho da imagem conforme necessário */
    height: 150px; /* Ajuste o tamanho da imagem conforme necessário */
    object-fit: cover; /* Isso garantirá que a imagem seja dimensionada para preencher o círculo */
  }

  hr {
    width: 20%;
    height: 2px;
    border-style: solid;
    color: #333;
  }

  .mid-right {
    position: absolute;
    top: 70%; /* Ajuste a posição superior conforme necessário */
    right: 47%; /* Ajuste a posição direita conforme necessário */ 
    /* padding: 20px;   Adiciona um espaço em torno do contêiner de projetos */
    /* Outros estilos de posicionamento, como alinhamento, podem ser adicionados aqui */
  }