/* profile.css */

/* Estilos para o container principal */
.user-profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* padding: 20px; */
 } 

/* Estilos para a foto do perfil */
.profile-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 20px;
}

/* Estilos para o contêiner de informações do perfil e habilidades */
/* .user-info-and-skills {
  display: flex;
  flex-direction: column; /* Empilhar elementos verticalmente */
  /* align-items: flex-start;
}  */

/* Estilos para as informações do perfil */
.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-info p {
  margin: 10px 0;
}

.user-info hr {
  width: 100%;
  border: 1px solid #ccc;
  margin: 10px 0;
}

/* Estilos para as habilidades */
.user-skills {
  text-align: left;
  margin-top: 20px;
}

/* Estilos para os projetos à direita */
.user-projects {
  text-align: right;
  margin-top: 20px;
}

/* Estilos para a WordCloud abaixo dos projetos */
.word-cloud {
  text-align: center;
  margin-top: 20px;
}
