.view-project {
    gap: 30px;
    width: 100%;
    padding: 0px 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}

.view-project h1 {
    width: 80%;
    padding: 30px;
    text-align: center;
    border-bottom: 1px solid black;
}

.view-project-description {
    width: 80%;
    margin: 20px 0px;
    font-size: 18px;
    text-align: justify;
    line-height: 25px;
}

.view-project-avatar {
    margin: 0px 20px;
    margin-top: 30px;
}

.view-project-details {
    gap: 100px;
    width: 80%;
    display: flex;
    justify-content: flex-start;
}

.card-members {

    display: flex;
    flex-direction: column;

}
